name: Deploy Dev Environment

on:
  push:
    branches:
      - develop

jobs:
  # deploy:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: aws-actions/configure-aws-credentials@v1
  #       with:
  #         aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
  #         aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY}}
  #         aws-region: ${{ secrets.AWS_REGION}}
  #     - name: checkout repository
  #       uses: actions/checkout@v3
  #     - name: setup node
  #       uses: actions/setup-node@v3
  #       with:
  #         node-version: 14
  #     - name: Install Serverless Framework
  #       run: npm install -g serverless
  #     - name: Install NPM dependencies
  #       run: rm package-lock.json && npm i
  #     - name: deploy
  #       run: sls deploy -s dev --verbose
  #   outputs:
  #     jobStatus: ${{ job.status }}
  #   continue-on-error: true

  job1:
    runs-on: ubuntu-latest
    steps:
      - run: exit 0

  job2:
    runs-on: ubuntu-latest
    steps:
      - run: exit 0
  
  job3:
    runs-on: ubuntu-latest
    steps:
      - run: exit 1

  teste:
    needs: [job1]
    if: ${{ success() }}
    runs-on: ubuntu-latest
    steps:
      - run: echo "success"

  teste3:
    needs: job2
    if: ${{ failure() }}
    runs-on: ubuntu-latest
    steps:
      - run: echo "success"
  
  teste3:
    needs: job3
    if: ${{ always() }}
    runs-on: ubuntu-latest
    steps:
      - run: echo "success"