name: generate tag

on:
  push:
    branches: 
      - main

jobs:
  create_tag:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Get version
        id: version
        run: |
          echo "::set-output name=tag_version::$(cat package.json | grep version | cut -d'"' -f4)"
          version=$(cat package.json | grep version | cut -d'"' -f4)
          git config user.name "Github Actions"
          git config user.email "jhonatan.siqueira@al.resilia.com.br"
          git tag v${version} -m "Automatic tag generate v${version}"
          git push --tags
  merge-back:
    needs: [ create_tag ]
    uses: jhonsouza/rest-api-4/.github/workflows/merge-back.yaml@main
  