name: Call a reusable workflow and use its outputs

on:
  push:
    branches:
      - feature/*
  workflow_dispatch:
    inputs:
      appName:
        description: The name of the app to deploy
        required: true
jobs:
  job0:
    name: teste
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: validate app name
        run: |
          if [ -z ${{ inputs.appName }}]; then
            echo "Getting app name from branch"
            echo "branch=$(echo ${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}} | cut -d'/' -f2")
          fi
