name: Call a reusable workflow and use its outputs

on:
  push:
    branches:
      - feature/*
  workflow_dispatch:
    inputs:
      appName:
        description: The name of the app to deploy
        required: true
jobs:
  job0:
    name: teste
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: validate app name
        run: |
          if [ -z ${{ inputs.appName }}]; then
            echo "Getting app name from branch"
            appName=$(echo ${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}} | cut -d'/' -f2)
            echo APPNAME=$appName >> $GITHUB_ENV
          else
            echo APPNAME=${{ inputs.appName }} >> $GITHUB_ENV
          fi
      - name: Print App Name
        run: |
          echo $APPNAME

  job1:
    needs: job0
    uses: ./.github/workflows/test.yml
    secrets: inherit

  job1-1:
    needs: job1
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "Build output image: ${{ needs.job1.outputs.image }}"
          echo "All build outputs:"
          echo '${{ toJSON(needs.job1.outputs) }}'

        
  job2:
    needs: job1
    uses: ./.github/workflows/teste.yaml
    with:
      image: ${{ needs.job1.outputs.image }}

