name: Call a reusable workflow and use its outputs

on:
  push:
    branches:
      - feature/*
  workflow_dispatch:
    inputs:
      appName:
        description: The name of the app to deploy
        required: true
jobs:
  job0:
    name: teste
    runs-on: ubuntu-latest
    steps:
      - name: validate app name
        run: |
          if [ -z ${{ inputs.appName }}]; then
            echo "Getting app name from branch"
            branch=$(git branch -a --sort=creatordate | grep feature | rev | tail -1 | cut -d'/' -f1 | rev)
            echo $branch
          fi
      
  job1:
    uses: ./.github/workflows/test.yml
    secrets: inherit
  job2:
    needs: job1
    uses: ./.github/workflows/teste.yaml
    with:
      image: ${{ needs.job1.outputs.image }}
    secrets: inherit
    
