on:
  workflow_call:
    outputs:
      image:
        value: ${{ jobs.example_job.outputs.out }}

jobs:
  example_job:
    runs-on: ubuntu-latest
    outputs:
      out: ${{ steps.genTag.outputs.image }}
    steps:
      - id: genTag
        run: echo "image=dev-189" >> $GITHUB_OUTPUT
      - run: echo ${{ github.ref }}
          
