name: Reusable workflow

on:
  workflow_call:
    # Map the workflow outputs to job outputs
    outputs:
      image:
        value: ${{ jobs.example_job.outputs.out }}
   

jobs:
  example_job:
    name: Generate output
    runs-on: ubuntu-latest
    # Map the job outputs to step outputs
    outputs:
      out: ${{ steps.genTag.outputs.image }}
    steps:
      - name: genTag
        id: genTag
        run: |
          echo "image=dev-189" >> $GITHUB_OUTPUT
